*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: sans-serif;
    /* background-color:#081b29 ; */
    background-image: url(https://img.freepik.com/free-vector/blue-white-low-poly-triangle-shapes-background_1035-19007.jpg?w=1800&t=st=1684051357~exp=1684051957~hmac=5726ab63e27e22a925b25cca143b2d6b1cb320727fef22d5b1bb7b56788a0481);
}

/* h1,
h2 {
    font-family: Impact;
} */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.navbar {

    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar_content {
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-size: 1.4rem;

}

.navbar_content:hover {
    color: rgb(115, 115, 214);

}

ul {

    list-style: none;
}

li {
    float: left;
    padding: 2rem;
}

section {
    display: none;
}

section.active {
    display: block;
}
.item-container{
    /* background-color:brown; */
    display: grid;
    grid-template-columns: auto auto auto;
grid-column-gap: 1.5em;
padding: 2em 0;
    
    

}
.item {
    /* display: grid;
    max-width: 400px;
    padding: 20px; */
    background-color: blue;
    width: 40%;
    margin: 20px auto;
   
}

/* .item-image{
width: 100%;
display: block;
} */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;

}

.item-name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.item-description {
    padding: 0 20px 20px 20px;
    line-height: 22px;
}

.form-container {
    background: rgb(0, 0,0,0.8);
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 50px;
    margin-top: 20px;
}

.form-container h1 {
   color:#fff;


}
.form-container .input-box {
   position: relative;
   margin-top:  20px;
 }
 
 .form-container .input-box input {
   border: none;
   width: 100%;
   letter-spacing: 1px;
   padding: 10px;
   font-size: 16px;
  
   margin-bottom: 30px;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   color: #fff;
  
  }
  .form-container .input-box label {
   position: absolute;
   top: 0;
   left: 0;
   letter-spacing: 1px;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   outline: none;
   transition: 0.5s;
   
   }

   .form-container .input-box input:focus ~ label,
    .form-container .input-box input:valid ~ label{
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #03a9f4;
    }
  .form-container textarea{
    border: none;
    width: 100%;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
   
   }
   .form-container .input-box textarea:focus ~ label,
   .form-container .input-box textarea:valid ~ label{
   top: -20px;
   left: 0;
   font-size: 12px;
   color: #03a9f4;
   }


.form-heading {
    text-align: center;
    
}
.form-content button{
    margin: 0px 120px;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:#081b29 ;
    padding: 0px 10%;
    /* background: url('images/home.JPG') no-repeat; */
    background-size: cover;
    background-position: center;
}
.home-content{
    
    max-width: 800px;
}
.home-content h1{
    color: rgb(236, 236, 236);
   font-size: 56px;
    font-weight: 700;
}
.home-content h3{
    font-size: 32px;
     font-weight: 700;
     color: #00abf0;
 }
 
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;

}
.home-content .btn-box {
    width: 345px;
    height:50px;
 
    display: flex;
    justify-content: space-between;
}
.btn-box a{
    width: 150px;
    height:100%;
    background-color: #00abf0;
    border: 2px solid  #00abf0;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color:#081b29;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-container {
    /* width: 345px;
    height:50px; */

 position: relative;
 margin-left: 240px;

 /* margin: auto auto; */
    /* display: flex;  */
     /* justify-content: space-between; */
     /* background-color: #000; */
}
/* .btn-container-1 {
    margin: auto auto;
    display: inline-flex; 
    justify-content: space-between;
    background:blue;
} */

/* .filter-btn{
    border-radius: 40px;
} */

.btn{
background-color: #00abf0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto auto;
  cursor: pointer;
  border-radius: 40px;
}

.btn1{
    background-color:transparent;
   
      /* color: white; */
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: auto auto;
      cursor: pointer;
      border-radius: 40px;
    }

.search{
    display: flex;
justify-content: flex-start;
  margin: 50px 50px;
  width: 1200px;
  height: auto;
  /* background-color: transparent; */
  /* background-color: #081b29; */
}
.search input{
    width: 70%;
    outline: none;
    margin-left: 10px;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 20px;
    /* background-color: transparent; */
    /* border-bottom: 2px solid #00abf0; */
    /* border: none; */
   
}

.search input::placeholder{
    color: #000;
    font-weight: 500;
   
}

.search h1{
    letter-spacing: 1px;
    border-bottom: 2px solid #00abf0;
    background: transparent;
   
}
.about-section{
    width: 100%;
    height:100%;
    min-width: 100vh;
    
}
.about-container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
 
}
.about-content{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width:40%;
}
.image-section img{
    height: auto;
    width:100%;
}
.about-content .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (max-width:768px){
    .about-container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
}

.active-button{
    background-color: #00abf0;
    color: white;
}