* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    background-image: url(https://img.freepik.com/free-vector/blue-white-low-poly-triangle-shapes-background_1035-19007.jpg?w=1800&t=st=1684051357~exp=1684051957~hmac=5726ab63e27e22a925b25cca143b2d6b1cb320727fef22d5b1bb7b56788a0481);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

ul {

    list-style: none;
}

li {
    float: left;
    padding: 2rem;
}

section {
    display: none;
}

section.active {
    display: block;
}

.form-container {
    background: rgb(0, 0, 0, 0.8);
    width: 50%;
    max-width: 500px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 50px;
    margin-top: 20px;
}

.form-container h1 {
    color: #fff;


}

.form-container .input-box {
    position: relative;
    margin-top: 20px;
}

.form-container .input-box input {
    border: none;
    width: 100%;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 16px;

    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;

}

.form-container .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    outline: none;
    transition: 0.5s;

}

.form-container .input-box input:focus~label,
.form-container .input-box input:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #03a9f4;
}

.form-container textarea {
    border: none;
    width: 100%;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;

}

.form-container .input-box textarea:focus~label,
.form-container .input-box textarea:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #03a9f4;
}


.form-heading {
    text-align: center;

}

.form-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #03a9f4;
    color: white;
    margin: 0px 10px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #081b29;
    padding: 0px 10%;
    background-size: cover;
    background-position: center;
}

.home-content {

    max-width: 800px;
}

.home-content h1 {
    color: rgb(236, 236, 236);
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;

}

.home-content .btn-box {
    width: 345px;
    height: 50px;

    display: flex;
    justify-content: space-between;
}

.btn-box a {
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: #081b29;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-container {
    position: relative;
    margin-left: 240px;

}

.btn {
    background-color: #00abf0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto auto;
    cursor: pointer;
    border-radius: 40px;
}

.btn1 {
    background-color: transparent;

    /* color: white; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto auto;
    cursor: pointer;
    border-radius: 40px;
}

.search-container {
    position: sticky;
    top: 90px;
}

.search {
    display: flex;
    justify-content: flex-start;
    margin: 20px 50px;
    width: 1200px;
    height: auto;
}

.search input {
    width: 70%;
    outline: none;
    margin-left: 10px;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 20px;
}

.search input::placeholder {
    color: #000;
    font-weight: 500;

}

.search h1 {
    letter-spacing: 1px;
    border-bottom: 2px solid #00abf0;
    background: transparent;

}

.about-section {
    width: 100%;
    height: 100%;
    min-width: 100vh;

}

.about-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}

.about-content {
    float: left;
    width: 55%;
    text-align: justify;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    height: auto;
    width: 100%;
}

.about-content .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (max-width:768px) {
    .about-container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
}

.active-button {
    background-color: #00abf0;
    color: white;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 50px;
    margin: 50px auto;
    max-width: 1440px;
    padding: 20px;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.products-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-img {
    height: 50px;
}

.product {
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    background-color: lightblue;
    max-height: 500px;

}

.product img {
    width: 100%;
    margin: auto auto;
    display: block;
}

.products ::-webkit-scrollbar {
    display: none;
}

.product .product-name {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.product .description {
    padding: 0 20px 20px 20px;
    line-height: 22px;
}

.product .price {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}

.product button {
    /* margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 50px; */
    cursor: pointer;

}

.btn a {
    text-decoration: none;
}

.category {
    display: none;
}

nav {
    background-color: black;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0px;
}

nav ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style: none;

}

nav ul li {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(236, 236, 236);
    text-decoration: none;

}

nav ul li a:hover {
    color: rgb(115, 115, 214);

}

#next {
    cursor: pointer;
}

.product img {
    width: 100%;
    max-height: 200px;
    cursor: pointer;
    transition: transform 0.5s;
}

.product:hover {

    cursor: pointer;
    transform: scale(1.1);
}
.product button{
    display: block;
    margin: auto auto;
    padding: 10px 40px;
    margin-top: 20px;


}

@media screen and (max-width:768px) {
    nav ul {
        height: 130px;
        flex-direction: column;
        text-align: center;
        width: 100%;

    }

    .about-container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .form-content {
        margin-top: 20px;
        width: 100%;
        height: 50%;
        padding: 5px;
        height: 60vh;
    }

    .button-box {
        display: flex;
        flex-direction: column;


    }

    .form-btn {
        margin-bottom: 10px;

    }

    .form-container {
        width: 80%;
    }


}
/* Learned Media Queries from https://www.youtube.com/watch?v=H-AmJSMcNfI 
https://www.youtube.com/watch?v=s9dvP3_hpDs
*/
@media screen and (max-width:1083px) {
    .search input {
        width: 30%;
        margin-left: -20px;
        font-size: 10px;
        max-width: 450px;
    }

    .search h1 {
        font-size: 10px;
        display: none;
    }

    .search {
        flex-direction: column;

    }

    .btn-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        grid-gap: 5px;
        margin: 50px auto;

    }

    .btn {
        margin-bottom: 10px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
        grid-gap: 50px;
        margin: 50px auto;
        max-width: 1440px;
        padding: 20px;
        grid-auto-flow: row;
        overflow-y: auto;
        overscroll-behavior-inline: contain;
    }


}